html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

body {
	color: #fff;
	background: linear-gradient(#AB47BC, #F06292);
	font-size: 30px;
	line-height: 150%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

#container {
	width: 600px;
	text-align: center;
	margin: 30px auto;
	padding: 20px;
}

h1 {
	font-size: 150px;
	letter-spacing: 10px;
	line-height: 120%;
	margin: 0;
}

button, input[type="submit"] {
	background: rgba(255, 255, 255, 0.2);
	font-weight: normal;
	border: 2px solid #fff;
	min-width: 50px;
	text-align: center;
	line-height: 150%;
	font-size: 20px;
	padding: 8px 18px;
	cursor: pointer;
	border-radius: 30px;
	transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -webkit-transition: background .15s ease-in-out;
	color: #fff;
}

button:hover, input[type="submit"]:hover {
	background: #FFD740;
}

button:active, input[type="submit"]:active {
	background: #00C853;
}

.clearfix {
	height: 1px;
	float: left;
	clear: both;
}
